:root {
    --main-background-color : #F3F5F7;
    --secondry-background-color : #8A74F9;
    --alt-background-color-1 : #F9F9F9;
    --main-font-color: #1C1C28;
    --secondry-font-color: #FFFFFF;
}



body {
    margin: 0;
    padding: 4.69rem 8.56rem 0rem 2.06rem;
    background-color: var(--main-background-color);
    color: var(--main-font-color);
    font-family: neo sans arabic;
}

header {
    display: flex;
    justify-content: space-between;
}

header .arrow {
    border-radius: 0.5rem;
    width: 2rem;
    background: #E7EAED;
    max-width: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

header .arrow img {
    max-width: 0.807rem;
}

header > span {
    margin-left: auto;
    margin-right: 0.44rem;
    color: var(--main-font-color);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.75rem;
}

header .edit {
    cursor: pointer;
    height: 2.125rem;
    border: 1px solid #E9EAEA;
    width: 4.875rem;
    max-width: 100%;
    background: var(--alt-background-color-1);
    display: flex;
    justify-content: space-around;
    border-radius: 0.25rem;
}

header .edit img {
    max-width: 1.125rem;
}

header .edit span {
    line-height: 1.75rem;
    font-size: 0.875rem;
    color: var(--main-font-color);
    font-weight: 400;
}

main {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1.5rem;
}

.current-ticket {
    margin-top: 0.81rem;
    grid-column: 2/3;
    grid-row: 1/2;
}

.current-ticket .ticket {
    background-color: var(--secondry-background-color);
    color: var(--secondry-font-color);
    border-radius: 0.77963rem;
    max-width: 25.5rem;
    margin-right: auto;
    position: relative;
    height: 16.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
}

.ticket .delete {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 4.375rem;
    grid-column: 4/5;
    height: 4.06256rem;
    justify-content: space-between;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
    z-index: 100;
}

.ticket .delete > img {
    max-width: 1.375rem;
    height: 1.375rem;
    cursor: pointer;
}

.ticket .delete .delete-info {
    justify-content: center;
    opacity: 0;
    position: relative;
    transition: opacity 0.2s linear;
}

.ticket .delete .delete-info span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 0.8065rem;
}

.ticket .delete:hover .delete-info {
    opacity: 1;
}

.ticket h1 {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    margin-left: 3.38rem;
    width: fit-content;
    max-width: 100%;
    grid-row: 1/2;
    grid-column: 1/4;
    padding-top: 1.5rem;
    padding-left: 0.5rem;
    grid-column: 1/-1;
    margin-right: auto;
    z-index: 100;
}

.ticket-link {
    grid-column: 1 / 5;
    margin: auto;
    background-color: var(--secondry-font-color);
    width: 14.13719rem;
    max-width: 100%;
    height: 2.625rem;
    text-align: center;
    margin-top: -1.71rem;
    border-radius: 0.51975rem;
    border: 0.832px dashed #DDD;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 100;
}

.ticket-link a {
    text-decoration: none;
    color: var(--main-font-color);
    font-family: 'Inter', sans-serif;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.45531rem;
}

.ticket-link img {
    width: 0.74381rem;
    max-width: 100%;
    height: 0.88356rem;
    cursor: pointer;
}

.ticket > p {
    grid-column: 1 / 5;
    margin: auto;
    margin-top: 0.69rem;
    margin-bottom: 1.06rem;
    font-family: neo sans arabic;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 100;
}

.ticket > p > span {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.ticket .line {
    grid-column: 1 / 5;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.ticket .line::before {
    content: "";
    position: absolute;
    left: 0;
    transform: translateX(-50%);
    border-radius: 0.77963rem;
    background-color: var(--main-background-color);
    width: 1.5rem;
    max-width: 100%;
    height: 1.69231rem;
}

.ticket .line::after {
    content: "";
    position: absolute;
    left: 100%;
    transform: translateX(-50%);
    border-radius: 0.77963rem;
    background-color: var(--main-background-color);
    width: 1.5rem;
    max-width: 100%;
    height: 1.69231rem;
}

.ticket .ticket-footer {
    grid-column: 1 / 5;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.12rem;
    z-index: 100;
}

.ticket .ticket-footer > img {
    width: 5.125rem;
    max-width: 100%;
    height: 5.125rem;
    margin-top: 1rem;
    margin-left: 2rem;
}

.ticket .ticket-footer .share {
    margin-left: auto;
    margin-right: 1.06rem;
    margin-top: 4.12rem;
    display: flex;
    padding: 0.25rem 0.375rem;
    gap: 0.125rem;
    border-radius: 0.25rem;
    border: 1px solid var(--secondry-font-color);
    cursor: pointer;
}

.ticket .ticket-footer .share img {
    width: 1rem;
    max-width: 100%;
    height: 1rem;
}

.ticket .ticket-footer .share span {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: neo sans arabic;
    width: 2.75rem;
    max-width: 100%;
    height: 0.8125rem;
    text-align: center;
    align-self: start;
}

.ticket .ticket-footer .discount {
    display: flex;
    flex-direction: column;
    font-family: neo sans arabic;
    gap: 0.81rem;
    width: 2.25rem;
    max-width: 100%;
    height: 2.6875rem;
    margin-right: 1.69rem;
    margin-top: 2.5rem;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.lines {
    position: absolute;
    top: 0;
    left: 0;
}

.lines svg {
    z-index: -1;
}

.chart {
    background-color: var(--secondry-font-color);
    grid-column: 1/2;
    border-radius: 0.5rem;
    border: 0.807px solid #EBEBEB;
    padding-right: 1.38rem;
    padding-left: 1.4rem;
    grid-row: 1/2;
    margin-top: 0.81rem;
    width: fit-content;
    height: 16.5rem;
}

.chart .chart-header {
    display: flex;
    justify-content: space-between;
}

.chart .chart-header .chart-info {
    display: flex;
    flex-direction: column;
}

.chart .chart-header .chart-info h2 {
    font-size: 0.875rem;
    font-style: normal;
    width: fit-content;
    margin: 0;
    margin-top: 1.38rem;
    font-weight: 400;
    line-height: 0.8065rem;
}

.chart .chart-header .chart-info p {
    margin: 0;
    color: #99a1b7;
    font-family: 'Inter', sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.8065rem;
    margin-top: 0.62rem;
}

.chart-header button {
    background-color: transparent;
    border: none;
    width: 4.21069rem;
    max-width: 100%;
    height: 1.89244rem;
    background-image: url("/Assets/Group\ 132081.svg");
    margin-top: 1.38rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.chart-header button span {
    width: 1.66875rem;
    max-width: 100%;
    color: var(--main-font-color);
    font-family: neo sans arabic;
    font-size: 0.757rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.05975rem;
}

.chart-header button img {
    width: 0.61375rem;
    max-width: 100%;
    height: 0.57669rem;
}

.chart-stats {
    margin-top: 1.98rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.chart-line {
    height: 1px;
    width: 49.75106rem;
    max-width: 100%;
    background-color: #E5E5EF;
    margin-top: 2.14rem;
}

.chart-line:first-of-type {
    margin: 0;
}

.chart-stats svg {
    position: absolute;
    top: 0;
    right: 0;
}

.months {
    display: flex;
    gap: 1.78rem;
    justify-content: space-between;
    margin: 0;
    flex-flow: row-reverse;
}

.months li {
    color: #9291A5;
    text-align: center;
    font-family: neo sans arabic;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.00813rem;
    letter-spacing: -0.015rem;
    list-style: none;
    margin: 0;
    margin-top: 0.59rem;
    cursor: pointer;
}

.search-container {
    display: flex;
    align-items: center;
    margin-top: 1.62rem;
}

.search-container h2 {
    font-family: neo sans arabic;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 1.06rem;
}

.search-container .search {
    background-color: transparent;
    border: none;
    width: 17.3125rem;
    max-width: 100%;
    height: 2.25rem;
    position: relative;
    grid-column: 1/2;

}

.search-container .search .search-bar {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    left: 0;
}

.search .search-bar input[type=search] {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
}

input[type=search]::placeholder {
    color: rgba(146, 161, 173, 0.40);
    font-family: neo sans arabic;
    margin-right: 0.27rem;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

.search-bar img {
    width: 1rem;
    max-width: 100%;
    height: 1rem;
    margin-right: 0.67rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
}

.search-container button {
    background-color: transparent;
    background-image: url("/Assets/Group\ 4144.svg");
    width: 2.25rem;
    max-width: 100%;
    height: 2.25rem;
    border: none;
    margin-right: 0.44rem;
    cursor: pointer;
}

.search-container button img {
    width: 1rem;
    max-width: 100%;
    height: 1rem;
    flex-shrink: 0;
}

.book-new-ticket {
    margin-top: 1.5rem;
    display: flex;
    justify-content: end;
    align-items: center;
}

.Toggle {
    position: relative;
    display: inline-block;
    width: 2.125rem;
    max-width: 100%;
    height: 1.125rem;
    margin-left: 0.48rem;
}

.Toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1rem;
    width: 1rem;
    background-color: white;
    top: calc(50% - 0.5rem);
    right: 3%;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider:before {
    -webkit-transform: translateX(-1rem);
    -ms-transform: translateX(-1rem);
    transform: translateX(-1rem);
}

input:checked+.slider {
    background-color: var(--secondry-background-color);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--secondry-background-color);
}

.book-new-ticket span {
    color: #9C9D9F;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.book-new-ticket button {
    margin-right: 1.25rem;
    border-radius: 0.375rem;
    background: var(--secondry-background-color);
    padding: 0.8125rem 0.625rem;
    font-family: neo sans arabic;
    border: none;
    color: #FCFCFC;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    cursor: pointer;
}

.tickets-list {
    grid-column: 1/ 3;
    margin-top: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #F3F3F5;
    background: var(--secondry-font-color);
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #F3F3F5;
}

thead {
    height: 2.5625rem;
    border-radius: 0.375rem;
}

thead tr {
    background-color: #f8f8f9;
    color: #abaab1;
    padding-right: 0.52rem;
    padding-left: 5.67rem;
    border-color: var(--secondry-font-color);
    border-style: solid;
    border-width: 0.44rem 0.38rem 0.28rem 0.44rem;
    align-items: center;
    font-family: Neo Sans Arabic;
    font-size: 0.82994rem;
    font-weight: 400;
    line-height: 1.45238rem;
}

tbody td {
    text-align: center;
}


tbody tr,
tfoot tr {
    border-top: 0.10375rem solid #F3F3F5;
    height: 3.29rem;
    font-family: Inter;
    font-size: 0.82994rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.45238rem;
}

tbody tr td:first-of-type {
    color: #898995;
    font-family: Inter;
    font-size: 0.82994rem;
    font-weight: 400;
    line-height: 1.45238rem;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.user svg,
.user img {
    margin-left: 0.47rem;
}

.user-info h3 {
    font-family: Neo Sans Arabic;
    font-size: 0.72619rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.24488rem;
    margin: 0;
}

.user-info p {
    color: #92A1AD;
    margin: 0;
    font-family: Poppins;
    font-size: 0.62244rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.24488rem;
}

.rate {
    display: flex;
    gap: 0.57rem;
    align-items: center;
    justify-content: center;
}

.rate img {
    cursor: pointer;
}


tbody td:nth-of-type(5),
tbody td:nth-of-type(7),
tbody td:nth-last-child(){
    font-family: Neo Sans Arabic;
    font-size: 0.82994rem;
    font-weight: 400;
    line-height: 1.24488rem;
}

.user-ticket {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.52rem;
}

.user-ticket button {
    background-color: transparent;
    border: none;
    display: flex;
    width: 1.97919rem;
    height: 1.97919rem;
    padding: 0.70094rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.user-ticket button:first-of-type {
    background-color: rgba(138, 116, 249, 0.10);
    border-radius: 0.49481rem;
    margin-left: 0.52rem;
}

.user-ticket button:last-child {
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
}

.user-ticket-info .type {
    margin-left: auto;
    display: flex;
    justify-content: start;
    gap: 0.30rem;
}

.user-ticket .user-ticket-info h3 {
    font-family: Neo Sans Arabic;
    font-size: 0.72919rem;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
}

.user-ticket .user-ticket-info span {
    margin: 0;
    color: rgba(0, 0, 0, 0.40);
    text-align: right;
    font-family: Inter;
    font-size: 0.625rem;
    font-weight: 400;
    line-height: 150%;
}

.footer {
    align-items: center;
    display: flex;
}

.footer > span {
    margin-right: 0.81rem;
    align-self: center;
}

.footer .select {
    display: flex;
    align-items: end;
}

.footer .select-button {
    display: flex;
    align-self: center;
    padding: 0.375rem 0.70313rem;
    gap: 0.375rem;
    border-radius: 0.375rem;
    border: 0.75px solid #DDD;
    background-color: #FFF;
    cursor: pointer;
    margin-left: 0.47rem;
    margin-right: 0.47rem;
}

.select-button span {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.65625rem;
    font-weight: 600;
    line-height: normal;
}

.footer p {
    color: #333;
    font-family: Neo Sans Arabic;
    font-size: 0.65625rem;
    font-weight: 400;
    line-height: normal;
}

.footer p span {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.65625rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer ul {
    display: flex;
    margin-right: auto;
    margin-left: 2rem;
    gap: 0.75rem;
}

.footer ul li {
    list-style: none;
    width: 1.6875rem;
    height: 1.6875rem;
    cursor: pointer;
    color: #7E8299;
}

.footer ul li:nth-of-type(2) {
    border-radius: 0.28125rem;
    background: #8A74F9;
    color: var(--secondry-font-color);
    text-align: center;
    font-weight: 600;
}

@media screen and (max-width: 600px) {
    body {
        padding-left: 0;
        padding-right: 0;
        padding-top: 1rem;
    }
    
    main {
        grid-template-columns: 50vw 50vw;
    }

    .chart {
        grid-column: 1/ -1;
        width: 100vw;
        padding: 0;
        overflow: hidden;
    }
    .current-ticket {
        grid-column: 1 / -1;
        grid-row: 2/3;
        margin: auto;
        overflow: hidden;
        margin-top: 1rem;
        width: 100%;
    }

    .current-ticket .ticket {
        margin-right: 0;
    }

    .months {
        width: 100vw;
        gap: 0.6rem;
        padding-right: 0.2rem;
        justify-content: start;
    }

    .search-container h2 {
        font-size: 0.8rem;
    }

    .search svg {
        display: none;
    }
    .search .search-bar {
        border-radius: 0.3rem;
        background-color: var(--secondry-font-color);
    }
    
    .chart-stats svg {
        width: 100%;
        top: 20%;
    }

    .book-new-ticket {
        margin-left: 2rem;
    }
    .book-new-ticket button {
        margin-right: 0.3rem;
        padding: 0.5125rem 0.325rem;
    }

    .user-ticket {
        font-size: 0.7rem;
        flex-direction: column;
    }
    .user-ticket button {
        margin: auto;
    }
    .user svg,
    .user img {
        display: none;
    }

    table {
        border-collapse: separate;
    }

    thead tr {
        font-size: 0.6rem;
        width: fit-content;
    }

}